DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=smart_system
POSTGRES_USER=smart_system
POSTGRES_PASSWORD=smart_system
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
