# Configurações de Administradores Técnicos (Django Admin)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@marmoraria360.local
DJANGO_SUPERUSER_PASSWORD=SuperSenhaAdmin123!

# Configurações de Usuários de Demonstração Comercial (Painel /app/)
DEMO_OWNER_USERNAME=fabrizio
DEMO_OWNER_EMAIL=comercial@santandermarmoraria.com.br
DEMO_OWNER_PASSWORD=MarmorariaSantander360!
