Django>=6.0,<6.1
djangorestframework>=3.16,<3.17
django-filter>=25.1,<26
psycopg[binary]>=3.2,<3.3
python-dotenv>=1.1,<1.2
gunicorn>=23.0,<24
whitenoise>=6.9,<7
django-cors-headers>=4.7,<5

Pillow>=11.0,<13
django-axes>=6.5,<6.6
weasyprint==63.1
