{% extends 'backoffice/base.html' %}
{% block content %}
<div class="row">
  <div class="col-12 col-lg-8 mx-auto">
    <div class="card">
      <div class="card-header py-3">
        <h6 class="mb-0">Novo(a) Fornecedor</h6>
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'backoffice:fornecedores_novo' %}">
{% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" name="name" class="form-control" value="">
          </div>
          <div class="mb-3">
            <label class="form-label">Categoria</label>
            <input type="text" name="category" class="form-control" value="">
          </div>
          <div class="mb-3">
            <label class="form-label">Telefone</label>
            <input type="text" name="phone" class="form-control" value="">
          </div>
          <div class="mb-3">
            <label class="form-label">Cidade</label>
            <input type="text" name="city" class="form-control" value="">
          </div>
          <div class="text-end">
            <a href="{% url 'backoffice:fornecedores' %}" class="btn btn-secondary">Voltar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
