{% extends 'backoffice/base.html' %}
{% block content %}
<div class="row">
  <div class="col-12 col-lg-8 mx-auto">
    <div class="card">
      <div class="card-header py-3">
        <h6 class="mb-0">Novo(a) Veículo</h6>
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'backoffice:veiculos_novo' %}">
{% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Placa</label>
            <input type="text" name="plate" class="form-control" value="">
          </div>
          <div class="mb-3">
            <label class="form-label">Marca</label>
            <input type="text" name="brand" class="form-control" value="">
          </div>
          <div class="mb-3">
            <label class="form-label">Modelo</label>
            <input type="text" name="model" class="form-control" value="">
          </div>
          <div class="mb-3">
            <label class="form-label">Uso (ex: Entregas)</label>
            <input type="text" name="usage" class="form-control" value="">
          </div>
          <div class="mb-3">
            <label class="form-label">Status</label>
            <select name="status" class="form-select">
              <option value="active" >Ativo</option>
              <option value="maintenance" >Manutenção</option>
            </select>
          </div>
          <div class="text-end">
            <a href="{% url 'backoffice:veiculos' %}" class="btn btn-secondary">Voltar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
