{% extends "admin_shell/portalk12/base.html" %}
{% load static %}
{% block title %}PortalK12 | {{ page_heading|default:"Product Grid" }}{% endblock %}
{% block dashboard_bar %}{{ page_heading|default:"Product Grid" }}{% endblock %}
{% block main_wrapper_class %}{% endblock %}
{% block wallet_sidebar %}{% endblock %}
{% block dashboard_js %}{% endblock %}
{% block footer %}
<div class="footer out-footer style-2">
			<div class="copyright">
				<p>Copyright © Designed &amp; Developed by <a href="https://dexignlab.com/" target="_blank">PortalK12</a> 2023</p>
			</div>
		</div>
{% endblock %}
{% block content %}
<div class="container-fluid mh-auto">
				
                <div class="row">
                    <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/1.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h5><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}">Malay Pakaian</a></h5>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                        </ul>
										<del class="discount">$159</del>
                                        <span class="price">$71.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/2.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h5><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}"> blue blazers for girls</a></h5>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
										<del class="discount">$169</del>
                                        <span class="price">$159.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6 ">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/3.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h5><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}"> Maison d'éducation</a></h5>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
										<del class="discount">$189</del>
                                        <span class="price">$357.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/4.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h5><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}"> St. Trinian’s</a></h5>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                        </ul>
										<del class="discount">$160</del>
                                        <span class="price">$654.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/2.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h5><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}">Elite</a></h5>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
										<del class="discount">$160</del>
                                        <span class="price">$159.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/5.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h4><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}"> Girl with books </a></h4>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
										<del class="discount">$160</del>
                                        <span class="price">$369.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/6.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h5><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}">skirt for School kids</a></h5>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
										<del class="discount">$150</del>
                                        <span class="price">$245.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/2.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h5><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}">Elite</a></h5>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
										<del class="discount">$170</del>
                                        <span class="price">$159.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/1.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h5><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}">Malay Pakaian</a></h5>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                        </ul>
										<del class="discount">$110</del>
                                        <span class="price">$548.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/6.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h5><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}">skirt for School kids</a></h5>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
										<del class="discount">$170</del>
                                        <span class="price">$245.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/7.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h5><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}">Back Bag</a></h5>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
										<del class="discount">$180</del>
                                        <span class="price">$364.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                        <div class="card product-grid-card">
                            <div class="card-body">
                                <div class="new-arrival-product">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="{% static 'admin_shell/portalk12/images/product/1.jpg' %}" alt="">
                                    </div>
                                    <div class="new-arrival-content text-center mt-3">
                                        <h5><a href="{% url 'backoffice:template_page' 'ecom-product-detail' %}">Malay Pakaian</a></h5>
                                        <ul class="star-rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                        </ul>
										<del class="discount">$180</del>
                                        <span class="price">$548.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
